# Ignore everything
*

# Un-ignore specific files and directories
!.gitignore
!./dataset_mdcath.py
!./fasta_mdcath.py
!./plot_trained.py
!./distributed_mnist.py
!./gen_dataset.py
!./data/
!./nri_md_runyu.py
!./generate_fasta.py
!./plot_learned_graph.py
!./compare_sanity_check.py
!./main.py
!./submit.py
!./trial.py
