!.gitignore
fasta_mdcath.py
nri_md_runyu.py
compare_sanity_check.py
submit.py
trial.py
NRI_MD_ORIGINAL_DATASET_GEN.py
embeddings/ProtBert/embeddings/
embeddings/ESM_Embeddings/output/
data/parms/
trained/images/
trained/optimizer/
trained/edgesprobs/
trained/scheduler/
trained/losses/
trained/logs/
trained/decoder/
trained/encoder/
trained/
data/xtc/
data/pdb/
data/groups/
data/temp/
data/processed_data/
